<div class="modal-main">
	<div class="modal-inner" style="height: 530px;">
		<div class="left-side-content">
			<div class="sign-img"></div>
		</div>
		<div class="right-side-content ">
			<div class="window-close fa fa-window-close" ng-click="closeModal()"></div>
			<div class="right-side-input">
						<h1 style="font-size:30px;color:#0e76f7">Sign up</h1>
						<div layout-gt-sm="row">
							<md-input-container class="customInput md-block" flex-gt-sm>
							<label>First name</label>
							<input empty-input ng-model="user.firstname"> 
						</md-input-container>
						<md-input-container class="customInput md-block" flex-gt-sm>
						<label>Last name</label>
						<input empty-input ng-model="user.lastname"> 
					</md-input-container>
				</div>
				<div>
					<md-input-container class="customInput md-block" flex-gt-sm>
					<label>Email</label>
					<input empty-input ng-model="user.email"> 
				</md-input-container>
				</div>
				<div layout-gt-sm="row">
					<md-input-container class="customInput md-block" flex-gt-sm>
						<label>Password</label>
						<input empty-input ng-model="user.password"> 
					</md-input-container>
					<md-input-container class="customInput md-block" flex-gt-sm>
						<label>Password Confirmation</label>
						<input empty-input ng-model="user.confirmpassword"> 
					</md-input-container>
				</div>
			</div>
			<div class="signup-buttons" style="margin: 0 167px;">
				<div class="book-btn">
					<button class="btn book_btn" style="width:180px" ng-click="signup()">
						<h2 style="margin:0;font-size: 18px;">signup</h2>
					</button>
				</div>
			</div>
			<div class="bottom-content">
				<div class="links fb-link">
					<a href=""><i class="fa fa-facebook fa-2x" aria-hidden="true" style="font-size: 21px;"><p style="margin-left: 8px;display:inline;">SIGNUP WITH FACEBOOK</p></i></a>
				</div>
				<div class="links already">
					<p>Already have an account? <a href="" ng-click="login()">Log IN</a></p>
				</div>
			</div>
		</div>
	</div>
</div>