<div class="venue_main">
	<div class="venue-inner">
		<div class="venue-top" >
			<div class="container venue-top-content">
				<h1>ALLEY POND TENNIS CENTER</h1>
				<div class="venue-top-left">
					<div  class="text-content-main" >
						<div class="text-content">
							<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
							<span class="cont"><h4>79-20 Winchester Blvd,11427 Queens Village, NY</h4></span>
						</div>
					</div>

					<div class="text-content-main" >
						<div class="text-content">
							<i class="fa  fa-phone fa-2x" aria-hidden="true"></i>
							<span class="cont"><h4>718-264-2600</h4></span>
						</div>
					</div>

					<div class="text-content-main" >
						<div class="text-content">
							<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
							<span class="cont"><h4>www.alleypondtenniscenter.com</h4></span>
						</div>
					</div>

					<div class="text-content-main" >
						<div class="text-content">
							<i class="fa fa-car fa-2x" aria-hidden="true"></i>
							<span class="cont"><h4>Parking spots available</h4></span>
						</div>
					</div>

					<div class="text-content-main" >
						<div class="text-content">
							<i class="fa fa-road fa-2x" aria-hidden="true"></i>
							<span class="cont"><h4>F-train to Jamaica station and Uber from there or E-train to Union Turnpike and take a Q46 Bus to Winchester Boulevard.</h4></span>
						</div>
					</div>
				</div>
				
				
				
				
				
			</div>
		</div>
		<div class="search-result ">
			<div class="search-result-inner container">
				<div style="padding: 65px 0 42px 28px;"><h3 style="margin:0">SEARCH RESULT</h3></div>	
				<div class="booked-main">
					<div class="booked-inner-time">
						<div class="grid-time">6:00AM</div>
						<div class="grid-time">6:30AM</div>
						<div class="grid-time">7:00AM</div>
						<div class="grid-time">7:30AM</div>
						<div class="grid-time">8:00AM</div>
						<div class="grid-time">8:30AM</div>
						<div class="grid-time">9:00AM</div>
						<div class="grid-time">9:30AM</div>
						<div class="grid-time">10:00AM</div>
						<div class="grid-time">10:30AM</div>
						<div class="grid-time">11:00AM</div>
						<div class="grid-time">11:30AM</div>
						<div class="grid-time">12:30PM</div>
						<div class="grid-time">12:00PM</div>
						<div class="grid-time">1:00PM</div>
						<div class="grid-time">1:30PM</div>
						<div class="grid-time">2:00PM</div>
						<div class="grid-time">2:30PM</div>
						<div class="grid-time">3:00PM</div>
						<div class="grid-time">3:30PM</div>
						<div class="grid-time">4:00PM</div>
						<div class="grid-time">4:30PM</div>
						<div class="grid-time">5:00PM</div>
						<div class="grid-time">5:30PM</div>
						<div class="grid-time">6:00PM</div>
						<div class="grid-time">6:30PM</div>
						<div class="grid-time">7:00PM</div>
						<div class="grid-time">7:30PM</div>
						<div class="grid-time">8:00PM</div>
						<div class="grid-time">8:30PM</div>
						<div class="grid-time">9:00PM</div>
						<div class="grid-time">9:30PM</div>
					</div>
					<div class="flex-booked">
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							Outdoor 1
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>

					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							Outdoor 2						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 3</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 4</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 5</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 6</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 7</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 8</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 9</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 10</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 11</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					<div class="booked-inner-list">
						<div class="grid-outdoor-list">
							<span>Outdoor 12</span>
						</div>
						<div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
							<div class="booded-list-or-not">Booked</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>